@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body {
  background: #f6f5f7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  /* height: 100vh; */
  /* margin: -20px 0 50px; */
}

/* .App {
  display: unset;
} */

#root {
  width: 100%;
}
.loader {
  margin: 30%;
  border: 8px solid #ffe3de; /* Light grey */
  border-top: 8px solid #ff6348; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.side-drawer {
  /* height: 10%; */
  background: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 24px;
  position: fixed;
  /* margin-right: 10px; */
  top: 24px;
  left: 16px;
  width: 70%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-90%);
  transition: transform 0.3s ease-out;
}

.side-drawer:hover {
  z-index: 2;
}

.side-drawer.open {
  transform: translateX(0);
  z-index: 2;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
}

.drawer-btn {
  font-size: 42px;
  font-family: "Varela Round", Arial;
  color: #333;
  margin-top: 12px;
  transform: rotate(180deg);
  margin-right: 12px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.3s linear;
}

.drawer-btn-anim {
  transform: rotate(0deg);
}

.drawer-about {
  padding: 16px;
  margin-right: 20px;
}
.drawer-github {
  color: #ff6348;
  cursor: pointer;
}

.drawer-github:hover {
  text-decoration: underline;
}
.drawer-spaced-box {
  padding-bottom: 100px;
}

.drawer-footer {
  width: 80%;
  margin: 0px auto;
  justify-content: center;
  text-align: center;
}

.logout-btn {
  margin: 12px 0;
}

.app-title {
  padding: 12px 0 0px 8px;
  font-family: "Caveat", sans-serif;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
}
.drawer-title {
  position: relative;
  width: 100%;
}
.l1 {
  position: absolute;
  left: 0;
  top: 0;
  color: #ff6348;
}
.l2 {
  position: absolute;
  left: 2px;
  top: 2px;
  color: #fff;
}
.l3 {
  position: absolute;
  left: 3px;
  top: 3px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hp-container {
  padding: 20px;
  border-radius: 12px;
  margin-top: 70px;
  width: 100%;
  max-width: 768px;
  min-width: 420px;
  /* max-width: 100%; */
}

.card-container {
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /* background-color: aqua; */
  margin-top: 30px;
  border-radius: 12px;
  width: 100%;
}

.card-header {
  /* background-color: aqua; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px 16px 0px 16px;
  color: white;
  background-image: linear-gradient(45deg, #ff6348, #ff164c);
  border-radius: 12px 12px 0px 0px;
  margin-bottom: 0px;
}

.c-info {
  /* background-color: aquamarine; */
  display: flex;
  align-items: baseline;
  /* margin-right: 100%; */
}

.c-day {
  /* background-color: azure; */
  margin-right: 4px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.c-date {
  font-weight: 500;
}

.c-month {
  /* background-color: black; */
  margin-top: 0;
}

.remaing-tasks {
  font-weight: 100;
  font-size: 14px;
}

.addtask-btn {
  position: absolute;
  /* background-color: black; */
  border-color: #f6f5f7;
  color: #f6f5f7;
  right: 12px;
  bottom: -26px;
  padding: 12px 18px;
  font-size: 24px;
  border-radius: 50%;
  font-weight: 100;
  z-index: 1;

  -webkit-tap-highlight-color: transparent;
}

.addtask-anim {
  transform: rotate(225deg);
}

.solid-divider {
  /* border-top: 3px solid #bbb; */
  margin: 0;
  color: rgb(255, 255, 255);
}

.add-task-container {
  /* position: absolute; */
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 12px 12px;
  padding: 0 12px;
  margin: 0;
  width: 100%;
  padding: 24px 24px;
  border-radius: 0px 0px 12px 12px;
}

.tasks-container {
  background-color: rgb(255, 255, 255);
  padding: 0 12px;
  margin: 0;
  width: 100%;
  padding: 0px 0px;
  padding-top: 24px;
  padding-bottom: 8px;
  border-radius: 0px 0px 12px 12px;
}

.task-container {
  display: flex;
  justify-content: space-between;
  padding: 6px 24px;
  margin-bottom: 6px;
  /* background-color: aquamarine; */
}

.task-border {
  border-left: 2px solid rgb(29, 29, 29);
}

.task-completed {
  text-decoration: line-through;
}

.task-delete-btn {
  font-size: 13px;
  margin-left: 8px;
  color: rgb(73, 73, 73);
}
.task-delete-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.check-text {
  display: flex;
  max-width: 80%;
  align-items: center;
  justify-content: flex-start;
  /* justify-content: space-between; */
  /* background-color: aquamarine; */
}

.task-check {
  margin: 0;
  width: 20px;
  color: #ff6348;

  -webkit-tap-highlight-color: transparent;
  /* background-color: azure; */
  /* margin: 10px; */
}

.task-check:hover {
  cursor: pointer;
}

.task-check {
  margin: 0;
  width: 20px;
  color: #ff6348;
  background-color: azure;
  margin-right: 12px;
}

.task-time {
  /* background-color: aquamarine; */
  font-size: 12px;
  font-weight: 200;
  color: #333;
}
.no-task-text {
  font-size: 14px;
  text-align: center;
  font-weight: 100;
  margin-bottom: 24px;
  color: #333;
}
.add-form {
  display: flex;
  align-items: flex-start;
  padding: 0 0;
  margin: 0;
  /* min-width: 60%; */
  padding-left: 0px;
  margin-left: 10px;
}

.form-control {
  /* background-color: #333; */
  display: flex;
  width: 100%;
  /* min-width: 300px; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-field {
  /* padding: 0; */
  /* margin: 0; */
  /* margin-left: 125px; */
  max-width: 218px;
}
.form-control-check {
  justify-content: flex-start;
}

.priorotize-box {
  width: 7%;
  margin-left: 80px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}
